openapi: 3.1.0
info:
  title: Free Crypto News API
  description: |
    🆓 100% FREE crypto news API. No API keys required!
    Aggregates real-time news from 130+ crypto sources.
  version: 1.0.0
  contact:
    name: GitHub
    url: https://github.com/nirholas/free-crypto-news

servers:
  - url: https://cryptocurrency.cv

paths:
  /api/news:
    get:
      operationId: getLatestNews
      summary: Get latest crypto news
      description: Fetch the latest news from all 7 crypto news sources
      parameters:
        - name: limit
          in: query
          description: Maximum number of articles to return (1-50)
          schema:
            type: integer
            default: 10
            minimum: 1
            maximum: 50
        - name: source
          in: query
          description: Filter by specific source
          schema:
            type: string
            enum: [coindesk, theblock, decrypt, cointelegraph, bitcoinmagazine, blockworks, defiant]
      responses:
        '200':
          description: Successfully retrieved news
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewsResponse'

  /api/search:
    get:
      operationId: searchNews
      summary: Search news by keywords
      description: Search across all sources for specific topics
      parameters:
        - name: q
          in: query
          required: true
          description: Comma-separated keywords to search for
          schema:
            type: string
        - name: limit
          in: query
          description: Maximum results (1-30)
          schema:
            type: integer
            default: 10
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewsResponse'

  /api/defi:
    get:
      operationId: getDefiNews
      summary: Get DeFi-specific news
      description: News about DeFi, yield farming, DEXs, lending protocols
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
      responses:
        '200':
          description: DeFi news
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewsResponse'

  /api/bitcoin:
    get:
      operationId: getBitcoinNews
      summary: Get Bitcoin-specific news
      description: News specifically about Bitcoin, Lightning Network, miners
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
      responses:
        '200':
          description: Bitcoin news
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewsResponse'

  /api/breaking:
    get:
      operationId: getBreakingNews
      summary: Get breaking news
      description: News from the last 2 hours
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 5
      responses:
        '200':
          description: Breaking news
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewsResponse'

  /api/sources:
    get:
      operationId: getSources
      summary: List all news sources
      description: Get information about all available news sources and their status
      responses:
        '200':
          description: Source list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourcesResponse'

  /api/trending:
    get:
      operationId: getTrendingTopics
      summary: Get trending topics
      description: Most-mentioned keywords across all crypto news in the last 24 hours with sentiment
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        - name: period
          in: query
          description: Time window for trend calculation
          schema:
            type: string
            enum: [1h, 6h, 24h, 7d]
            default: 24h
      responses:
        '200':
          description: Trending topics
          content:
            application/json:
              schema:
                type: object
                properties:
                  trending:
                    type: array
                    items:
                      type: object
                      properties:
                        keyword:
                          type: string
                        count:
                          type: integer
                        change:
                          type: string
                        sentiment:
                          type: string
                          enum: [bullish, bearish, neutral]

  /api/sentiment:
    get:
      operationId: getMarketSentiment
      summary: Get market sentiment
      description: AI-powered sentiment analysis from all news sources. Use asset param (BTC, ETH, SOL, etc.) to filter.
      parameters:
        - name: asset
          in: query
          description: Crypto asset symbol e.g. BTC, ETH, SOL. Omit for overall market sentiment.
          schema:
            type: string
        - name: period
          in: query
          schema:
            type: string
            enum: [1h, 24h, 7d, 30d]
            default: 24h
      responses:
        '200':
          description: Sentiment analysis
          content:
            application/json:
              schema:
                type: object
                properties:
                  overall:
                    type: string
                    enum: [bullish, bearish, neutral]
                  score:
                    type: number
                    description: Sentiment score from -1 (extreme fear) to 1 (extreme greed)
                  breakdown:
                    type: object
                    properties:
                      bullish:
                        type: integer
                      neutral:
                        type: integer
                      bearish:
                        type: integer

  /api/fear-greed:
    get:
      operationId: getFearGreedIndex
      summary: Get Crypto Fear & Greed Index
      description: Returns the current Crypto Fear & Greed Index. 0=Extreme Fear, 100=Extreme Greed.
      responses:
        '200':
          description: Fear & Greed Index
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: integer
                    minimum: 0
                    maximum: 100
                  classification:
                    type: string
                    enum: [Extreme Fear, Fear, Neutral, Greed, Extreme Greed]
                  previousValue:
                    type: integer
                  timestamp:
                    type: string
                    format: date-time
              example:
                value: 72
                classification: Greed
                previousValue: 68
                timestamp: '2026-02-21T00:00:00Z'

  /api/ask:
    get:
      operationId: askAboutCryptoNews
      summary: Ask a question about crypto news
      description: Natural language Q&A over the crypto news corpus. Ask anything about current events.
      parameters:
        - name: q
          in: query
          required: true
          description: Natural language question e.g. "What happened to Bitcoin this week?"
          schema:
            type: string
      responses:
        '200':
          description: AI-generated answer with supporting articles
          content:
            application/json:
              schema:
                type: object
                properties:
                  answer:
                    type: string
                  sources:
                    type: array
                    items:
                      $ref: '#/components/schemas/NewsArticle'
                  confidence:
                    type: number

components:
  schemas:
    NewsArticle:
      type: object
      properties:
        title:
          type: string
          description: Article headline
        link:
          type: string
          format: uri
          description: URL to full article
        description:
          type: string
          description: Article summary (max 200 chars)
        pubDate:
          type: string
          format: date-time
          description: Publication timestamp
        source:
          type: string
          description: Source name (e.g., "CoinDesk")
        sourceKey:
          type: string
          description: Source identifier
        category:
          type: string
          enum: [general, bitcoin, defi]
        timeAgo:
          type: string
          description: Human-readable time (e.g., "2h ago")

    NewsResponse:
      type: object
      properties:
        articles:
          type: array
          items:
            $ref: '#/components/schemas/NewsArticle'
        totalCount:
          type: integer
        sources:
          type: array
          items:
            type: string
        fetchedAt:
          type: string
          format: date-time

    SourceInfo:
      type: object
      properties:
        key:
          type: string
        name:
          type: string
        url:
          type: string
        category:
          type: string
        status:
          type: string
          enum: [active, unavailable]

    SourcesResponse:
      type: object
      properties:
        sources:
          type: array
          items:
            $ref: '#/components/schemas/SourceInfo'
